.listContent {
  position: absolute;
  width: 91.7vw;
  height: 100%;
  z-index: 19;
  margin-left: 100.6vw;
  background-color: rgba(0, 0, 0, 0.781);
  transition:  opacity 0.4s ease-in-out;

  .top {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0.5vw 2vw;
    justify-content: space-between;

    p {
      color: white;
      font-size: 1.3vw;
      font-weight: 900;
      margin: 0;
    }
  }

  .body {
    width: 100%;
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;

    .bodycontent {
      width: 20vw;
      display: flex;
      justify-content: space-between;

      .bodycontent-cell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 2.5vw 1.5vw;
        border-radius: 5vw;
        background-color: black;
        cursor: pointer;
        z-index: 22;

        p {
          margin: 0;
          color: white;
          font-size: 1vw;
        }
      }
    }
  }
}
